[buildout]                                                                      
develop = .
parts = interpreter test releaser
extends = http://grok.zope.org/releaseinfo/grok-1.0.cfg
versions = versions


[versions]
ZODB3 = 3.9.3
zope.container = 3.8.1


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.app.content
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = dolmen.app.content
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
